name = "storage"
main = "src/worker.ts"
tsconfig = "./tsconfig.json"
compatibility_date = "2025-02-14"
keep_vars = true

[build]
command = "npm run generate:frontend"
watch_dir = ["frontend", "scripts", "src/frontend"]

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "storage"
database_id = "b1c3f037-ad29-4440-a670-f2cfdfdb36a3"
migrations_dir = "migrations"

[vars]
GOOGLE_CLIENT_ID = "GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET = "GOOGLE_CLIENT_SECRET"
SESSION_SECRET = "SESSION_SECRET"
